language: scala

sudo: required

dist: trusty

script:
- sbt ++$TRAVIS_SCALA_VERSION pprintJVM/test
- sbt ++$TRAVIS_SCALA_VERSION pprintJS/test

jdk:
  - oraclejdk8

scala:
  - 2.10.6
  - 2.11.11
  - 2.12.2

matrix:
  include:
    - scala: SCALA_NATIVE
      jdk: oraclejdk8
      before_install:
      - curl https://raw.githubusercontent.com/scala-native/scala-native/2941b8ba26de42/bin/travis_setup.sh | bash -
      script:
      - sbt pprintNative/test

# Taken from https://github.com/typelevel/cats/blob/master/.travis.yml
cache:
  directories:
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.nvm

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
